.container{
   
border:2px solid white;
}
.header{
    font-size: 3em;
    display: flex;
    justify-content: space-between;
}
.select{
    width: 20% ;
    text-indent: 10%;
    font-size: 0.5em !important;
}
.title{
    font-size: 1em !important;
    margin: 0;
    margin-bottom: 2%;
    padding: 0;
}