@use "../../styles/colors";

.user{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    line-height: 0.7rem;
    
}

.name{
     
    color: colors.$text_primary;
   font-size: 1rem; 
   font-weight: 700;
    margin-bottom: 10%;
    
}

.info{
   
    width: 200%;
    color: colors.$secondary_main;
    font-size: 1rem; 
   font-weight: 700;
}

.avatar{ 
    
    
}

