.card {
  
  width: 20vw;
  height: 40vh;
  position: relative;
  border-radius: 25px !important;
}

.media {
  position: absolute;
  width: 90%;
  top:20%;
  left:5%;
  border-radius: 20px;
}
.price {
  position: absolute;
  top:88%;
  left:4%;
  font-size: 1.75em;
  color:#00ff21 !important;
  font-weight: 700;
}
.title{
  position: absolute;
  top:80%;
  left:4%;
  font-size: 2em;
  font-weight: 700;
}
.avatar{
  position: absolute;
  top:2%;
  left:2.5%;
}
.likes{
  border-radius: 30px !important;
  width: 25%;
  height: 6.5% !important;
  position: absolute;
  top:85%;
  font-size: 1.5rem !important;
  font-weight: 700;
  left:70%;
  color:#00ff21 !important;
  border: 2px solid #00ff21 !important;
}

.badge{
  display: flex;
  position: absolute;
  z-index: 2;
  top:23%;
  left:10%;
  background-color: #00ff21;
  color:black;
  width: 20%;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  align-items: center;
}

.timerWrapper{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ff21;
  top:71%;
  width: 90%;
  height: 8%;
  left:5%;
  z-index: 2;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}
.timer{
  color:black;
  font-size: 1.5em;
  font-weight: 700;
}

