@use "../../styles/colors";

.product-info-timer{
    border: 1px solid blue;
}
.title{
    border: 1px solid blue;
}
.active{
    background-color: colors.$secondary_main;
    
    
}
.notActive{
    
    
}
.timer{
    //background-color: colors.$secondary_main;
    border: 1px solid blue;
}
