@use "../../styles/colors.scss";

.even{
background-color: colors.$primary_main;
}
.odd{
    background-color: colors.$background_default;
}

.product-tabs{
    border:1px solid white;
}

.tab-details{
    border:1px solid white;
}
.tab-bids{
    border:1px solid white;
}