.image{
    border-radius: 30px !important;
    width: 98% !important;
    height: 100% !important;
    
}

.wraper{
   
    display: flex !important;
    justify-content: center !important;
    height: 70vh !important;
}
.imageList{
  
 
    width: 90% !important;
    height: 90% !important;
}