.image{
    border-radius: 30px !important;
    width:15vw !important;
    height: 15vh !important;
    
}

.big-image{
    border-radius: 30px !important;
    width:30vw !important;
    height: 30vh !important;
}

.wraper{
   
    display: flex !important;
    justify-content: center !important;
    height: 70vh !important;
}
.imageList{
  
 
    width: 90% !important;
    height: 90% !important;
}