@use "../../styles/colors";

.input {
  background-color: #0c0c14;

  height: 4vh;
  border-radius: 15px;
  width: 30vw;
  color: white;
  font-size: 1.5vh;
  align-items:start;
  justify-content:center;
  border-style: none;
  

}
.input::placeholder {
  text-indent: 2vw;
  font-size: 1.5vh;
}

.wrapper {
  background-color: #191828;
}

.container {
  display: flex !important;
 
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.logoGrid {
  padding: 1vh;
}
.inputGrid {
  padding-left: 5vw;
  
}

.buttonGrid {
  padding-left: 5vw;
  
}

.containedBtn {
  height: 4vh;
  font-weight: 800 !important;
  
}

.textBtn{
  font-weight: 300 !important;
  font-family: "Roboto";
  color: white !important;
}