@use "../../styles/colors.scss";

.container {
  background-color: colors.$background_default;
  position: relative;
  padding: 0;
  margin-top: 2vh;

  height: 30vh;
  width: 45vw !important;
  border-radius: 30px;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  right: 0;
  top: 0;
  margin: 0;

  width: 54%;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.number {
  overflow: hidden;
  background-color: rgba($color: colors.$primary_main, $alpha: 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9em;
  font-weight: 700;
  font-family: "Roboto";
  position: absolute;
  left: 0;
  color: colors.$text_primary;
  width: 37%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.description {
  font-family: "Roboto";
  position: absolute;
  left: 0;
  top: 40%;
  font-weight: 300;
  height: 50%;
  overflow: hidden;
  display: flex;
  font-size: 1em;
  width: 75%;
  margin-bottom: 5%;
  margin-top: 0;
}

.title {
  position: absolute;
  left: 0;
  top: 25%;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.72em;
  display: flex;
  justify-content: left;
  font-family: "Roboto";
}

.text {
  margin-top: 0;
}
